<nav>
  <!-- make class afor home button -->
  <a class="home-link" href="/">
    <div class="home-link-text">Home</div>
  </a> 

  <a class="foods-index-link" href="/foods">
    <div class="index-link-text">Browse Foods</div>
  </a>

  <a class="add-food-index-link" href="/foods/new">
    <div class="add-food-text">Add New Foods</div>
  </a>
</nav>
