<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <img
      class="food-pic1"
      src="/Happy-Foods.png"
      alt="happy foods pic"
    />

    <h1>Welcome to the Foods app!</h1>
    <p>An app for collecting your favorite foods.</p>
  </body>
  <footer>
    Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a>
  </footer>
</html>
