/* landing-page.css */

footer {
  font-size: 0.7em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.food-pic1 {
  margin-top: 30px;
  width: 40%;
}
