/* landing-page.css */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
body {
  background: #fff8ed;
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

h1 {
  text-align: center;
  color: #769642;
  font-size: 3.6em;
}

h2 {
  margin-top: -30px;
}

/* HOME  BUTTON */
.home-link {
  text-decoration: none;
}

.home-link-text {
  background-color: #f47b5b;
  color: white;
  font-size: 1.4em;
  width: 10em;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 5px #ffbd59;
}

.home-link-text:hover {
  background-color: #ffbd59;
  box-shadow: 0 5px #f47b5b;
  transition: 0.5s;
}

/* when the button is pressed */
.home-link-text:active {
  background-color: #f47b5b;
  box-shadow: 0 2.5px #ffbd59;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* BROWSE FOODS BUTTON */
.foods-index-link {
  text-decoration: none;
}

.index-link-text {
  background-color: #769642;
  color: white;
  font-size: 1.4em;
  width: 10em;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 5px #3f6a51;
}

.index-link-text:hover {
  background-color: #3f6a51;
  box-shadow: 0 5px #769642;
  transition: 0.5s;
}

.index-link-text:active {
  background-color: #3f6a51;
  box-shadow: 0 2.5px #769642;
}

/* ADD NEW FOODS BUTTON */
.add-food-index-link {
  text-decoration: none;
}

.add-food-text {
  background-color: #f47b5b;
  color: white;
  font-size: 1.4em;
  width: 10em;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 5px #ffbd59;
}

.add-food-text:hover {
  background-color: #ffbd59;
  box-shadow: 0 5px #f47b5b;
  transition: 0.5s;
}

.add-food-text:active {
  background-color: #f47b5b;
  box-shadow: 0 2.5px #ffbd59;
}

form {
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffbd59;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px 6px #f47b5b;
}

.checkbox-div {
  flex-direction: row;
}

label,
input {
  margin: 10px 2px 0 2px;
}

/* update food and add food buttons */
button {
  align-self: center;
  margin: 10px 4px 4px 4px;
  background-color: #3f6a51;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  width: 15em;
}

button:hover {
  background-color: #769642;
  transition: 0.5s;
}

button:active {
  background-color: #2d4d3a;
}
