<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/mult-pages.css" />
    <link rel="stylesheet" href="/stylesheets/index-all-foods-page.css" />

    <title>Foods Index</title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div clsss="index-header-div">
      <h1>All Foods</h1>
    </div>
    <ul>
      <% foods.forEach( food =>{ %>
      <li>
        <a class="food-cards" href="/foods/<%= food._id %>"
          ><b><%= food.name %></b></a
        >
      </li>
      <% }) %>
    </ul>
  </body>
</html>
