<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/mult-pages.css" />
    <link rel="stylesheet" href="/stylesheets/new-page.css" />

    <title>Create a Food</title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <h1>Create a New Food!</h1>

    <form action="/foods" method="POST">
      <fieldset aria-labelledby="submit-legend">
        <legend id="submit-legend">New Food Submission Form</legend>

        <div>
          <label for="name">Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Food Name"
            required
          />
        </div>

        <div>
          <label for="tasteRating"
            >Taste Rating: 1 <small>(disgusting)</small> - 5
            <small>(delicious)</small></label
          >
          <input
            type="number"
            name="tasteRating"
            id="tasteRating"
            min="1"
            max="5"
            required
          />
        </div>

        <div class="checkbox-div">
          <label for="isHealthy">This is a healthy food!</label>
          <input type="checkbox" name="isHealthy" id="isHealthy" />
        </div>
      </fieldset>

      <button type="submit">Add Food!</button>
    </form>
  </body>
</html>
